.error {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 2rem;
    background-color: #e49a9a;
    border-radius: 100px;
    color: black;
  
  }

  .error a{
    text-decoration: none;
    color: #000;
  }

  .loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    gap: 1.6rem;
  
    color: var(--color-medium);
    font-size: 1.4rem;
  }


    /* CREDIT: https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
    .loader {
        width: 50px;
        height: 24px;
        background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0%
            50%,
          radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
          radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
        background-size: calc(100% / 3) 12px;
        background-repeat: no-repeat;
        animation: loader 1s infinite linear;
      }


      @keyframes loader {
        20% {
          background-position: 0% 0%, 50% 50%, 100% 50%;
        }
        40% {
          background-position: 0% 100%, 50% 0%, 100% 50%;
        }
        60% {
          background-position: 0% 50%, 50% 100%, 100% 0%;
        }
        80% {
          background-position: 0% 50%, 50% 50%, 100% 100%;
        }
      }
      

  :root {
    --color-darkest: #343a40;
    --color-dark: #495057;
    --color-medium: #ced4da;
    --color-light: #f1f3f5;
  
    --color-theme: #1098ad;
    --color-accent: #ffa94d;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 90.5%;
    
  }

  @import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');
  
  body {
    min-height: 100vh;
    color: var(--color-light);
    background-color: var(--color-darkest);
    padding: 3.2rem;
    font-family: 'Martian Mono', monospace;
    
  }
  

  .buttonh:hover {
    background-color: var(--color-dark);
    font-size: 2.4rem;
    color: var(--color-accent);
    border-radius: 4rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }

  .buttonh {
    border-radius: 3.5rem;
    font-size: 2rem;
    color: white;
  }

  .progress {
    margin-bottom: 4rem;
    display: grid;
    justify-content: space-between;
    gap: 1.2rem;
    grid-template-columns: auto auto;
    font-size: 1.8rem;
    color: var(--color-medium);
  }
  
  progress {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    grid-column: 1 / -1;
  }
  
  ::-webkit-progress-bar {
    background-color: var(--color-medium);
    border-radius: 100px;
  }
  ::-webkit-progress-value {
    background-color: var(--color-theme);
    border-radius: 100px;
  }

  .timer {
	float: left;
	font-size: 1.2rem;
	color: var(--color-medium);
	border: 2px solid var(--color-dark);
	padding: 1.2rem 2.4rem;
	border-radius: 100px;
	transition: transform 0.3s, background-color 0.3s;

}

.timer.pulse {
	transform: scale(1.5);
	background-color: #5a646e;
}

.timer.warning {
	background-color: #5a646e;
	font-weight: bold;
}

.btn {
	display: block;
	font-family: inherit;
	color: inherit;
	font-size: 1.5rem;
	border: 2px solid var(--color-dark);
	background-color: var(--color-dark);
	padding: 1.2rem 2.4rem;
	cursor: pointer;
	border-radius: 100px;
	transition: 0.3s;
    margin: 1rem 1rem 0rem 0rem;
}

.btn-option {
	width: 100%;
	text-align: left;
	font-weight: 500;
}

.btn-option.correct {
	background-color: var(--color-theme);
	border: 2px solid var(--color-theme);
	color: var(--color-light-text);
}

.btn-option.correct-animate {
	animation: fadeIn 0.5s linear both 4 alternate;
	/* opacity: 0; */
}

.btn-option.wrong {
	background-color: var(--color-accent);
	border: 2px solid var(--color-accent);
	color: var(--color-darkest-text);
}

.current-q{
    font-size: 2rem;
    color: black;
    background-color: #cf97c3;
    border: 2px solid #cf97c3;

}

.correct-q {
    font-size: 2rem;
    color: black;
    background-color: #a3cf97;
    border: 2px solid #a3cf97;
}

.incorrect-q{
    font-size: 2rem;
    color: black;
    background-color: #ff6767;
    border: 2px solid #ff6767;
}

/* Define styles for code in Theme 1 */
.code-theme-1 {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: monospace;
}

/* Define styles for code in Theme 2 */
.code-theme-2 {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  font-family: monospace;
}

/* Add more code themes as needed */
